<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ghostsq.commander"
      android:versionName="1.19a" android:versionCode="59">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name"
        android:debuggable="true">
        <activity android:name=".FileCommander" android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".Editor"  android:label="@string/editor_label">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />
                <type android:value="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".Prefs" android:label="@string/prefs_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
		<activity android:name=".ServerForm"/>		
    </application>
    <uses-sdk android:minSdkVersion="3" />
</manifest>
 